@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@keyframes movimiento {

    0%{

    }
    50%{
        width: 5px;
        height: 5px;
        transform: translate(150px, 150px);
        background: rgba(156, 156, 231, 0.685);
        box-shadow: 2px 2px 20px #cbdffd;
    }
    100%{
        transform: translate(50px,300px);
    }
}

*{
    box-sizing: border-box;
    font-size: 62.5%;
}
html{
    margin: 0;
    border: 0;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    color: goldenrod;
}
body{
    position: relative;
    width: 100vw;
    margin: 0;
    border: 0;
    background: linear-gradient(rgb(8, 1, 49), rgb(14, 1, 99),rgb(1, 1, 109),rgb(4, 4, 66),rgba(4, 121, 199, 0.918),rgba(146, 166, 179, 0.795));
}

h1{
    font-size: .000006rem;
    margin: 0 auto;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.titulo img{
    width: 90vw;
}
.botoniniciosep{
    margin: 0 auto;
}
.contenedorinicio, .contenedorinicio2{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid goldenrod;
    border-radius: 15px;
}
.botonhome{
    line-height: 2.4rem;
    margin: 4px auto 4px auto;
}
.botonhome a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
}
footer{
    background: black;
    height: 30px;
}
footer p{
    font-size: 1.4rem;
    color: goldenrod;
}

.estrellas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que las estrellas no interfieran con la interacción del usuario */
}

/* Generar estrellas dinámicamente */
.estrella {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    /*animation: movimiento 10s linear infinite alternate;*/ /* Aplicar la animación aquí */
}

.animacionEstrella{
    animation: movimiento 10s linear infinite alternate;
}
.oculto{
    display: none;
}