@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@keyframes movimiento {

    0%{

    }
    50%{
        width: 5px;
        height: 5px;
        transform: translate(150px, 150px);
        background: rgba(156, 156, 231, 0.685);
        box-shadow: 2px 2px 20px #cbdffd;
    }
    100%{
        transform: translate(50px,300px);
    }
}

*{
    box-sizing: border-box;
    font-size: 62.5%;
}
html{
    margin: 0;
    border: 0;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    color: goldenrod;
}
body{
    position: relative;
    width: 100vw;
    margin: 0;
    border: 0;
    background: linear-gradient(rgb(8, 1, 49), rgb(14, 1, 99),rgb(1, 1, 109),rgb(4, 4, 66),rgba(4, 121, 199, 0.918),rgba(146, 166, 179, 0.795));
}

h1{
    font-size: .000006rem;
    margin: 0 auto;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.titulo img{
    width: 90vw;
}
.botoniniciosep{
    margin: 0 auto;
}
.contenedorinicio, .contenedorinicio2{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid goldenrod;
    border-radius: 15px;
}
.botonhome{
    line-height: 2.4rem;
    margin: 4px auto 4px auto;
}
.botonhome a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
}
footer{
    background: black;
    height: 30px;
}
footer p{
    font-size: 1.4rem;
    color: goldenrod;
}

.estrellas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que las estrellas no interfieran con la interacción del usuario */
}

/* Generar estrellas dinámicamente */
.estrella {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    /*animation: movimiento 10s linear infinite alternate;*/ /* Aplicar la animación aquí */
}

/* Puedes ajustar la cantidad de estrellas según tus necesidades */
.estrella:nth-child(1) { top: 10%; left: 20%; }
.estrella:nth-child(2) { top: 20%; left: 50%; animation: movimiento 10s linear infinite alternate;}
.estrella:nth-child(3) { top: 30%; left: 80%; }
.estrella:nth-child(4) { top: 40%; left: 30%; }
.estrella:nth-child(5) { top: 50%; left: 60%; }
.estrella:nth-child(6) { top: 60%; left: 90%; }
.estrella:nth-child(7) { top: 70%; left: 10%; }
.estrella:nth-child(8) { top: 80%; left: 60%; }
.estrella:nth-child(9) { top: 90%; left: 70%; }
.estrella:nth-child(10) { top: 15%; left: 90%; }
.estrella:nth-child(11) { top: 25%; left: 30%; }
.estrella:nth-child(12) { top: 35%; left: 70%; }
.estrella:nth-child(13) { top: 45%; left: 60%; animation: movimiento 20s linear infinite alternate;}
.estrella:nth-child(14) { top: 55%; left: 40%; }
.estrella:nth-child(15) { top: 65%; left: 50%; }
.estrella:nth-child(16) { top: 75%; left: 35%; }
.estrella:nth-child(17) { top: 85%; left: 18%; }
.estrella:nth-child(18) { top: 95%; left: 52%; }
.estrella:nth-child(19) { top: 13%; left: 78%; }
.estrella:nth-child(20) { top: 23%; left: 82%; animation: movimiento 25s linear infinite alternate;}
.estrella:nth-child(21) { top: 33%; left: 38%; }
.estrella:nth-child(22) { top: 43%; left: 57%; }
.estrella:nth-child(23) { top: 53%; left: 73%; }
.estrella:nth-child(24) { top: 63%; left: 27%; }
.estrella:nth-child(25) { top: 73%; left: 63%; }
.estrella:nth-child(26) { top: 83%; left: 92%; }
.estrella:nth-child(27) { top: 93%; left: 64%; }
.estrella:nth-child(28) { top: 17%; left: 34%; }
.estrella:nth-child(29) { top: 27%; left: 28%; }
.estrella:nth-child(30) { top: 37%; left: 49%; }
.estrella:nth-child(31) { top: 47%; left: 76%; }
.estrella:nth-child(32) { top: 57%; left: 67%; }
.estrella:nth-child(33) { top: 67%; left: 74%; }
.estrella:nth-child(34) { top: 77%; left: 84%; }
.estrella:nth-child(35) { top: 87%; left: 97%; }
.estrella:nth-child(36) { top: 97%; left: 45%; animation: movimiento 18s linear infinite alternate;}
.estrella:nth-child(37) { top: 14%; left: 78%; }

/* ... Añade más reglas según sea necesario */
