@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Dancing+Script&family=Montserrat:wght@100;400;700&family=Pinyon+Script&display=swap');
 :root{
    --titulo1: 'Pinyon Script', cursive;
    --titulo2: 'Dancing Script', cursive;
    --titulo3: 'Alegreya SC', serif; 
    --titulo4: 'Montserrat', sans-serif;
 }
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-size: 62.5%;
}
body {
    background: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGV4dHVyYSUyMGRlJTIwbWFybW9sfGVufDB8fDB8fHww&w=1000&q=80) no-repeat;
    /* Keep the inherited background full size. */
    background-attachment: fixed; 
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
html{
    font-family: var(--titulo4);
    text-align: center;
}
body{
    margin: 0 auto;
}
main{
    width: 90vw;
    box-shadow: 0 0 1rem 1px rgb(170, 163, 163); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: #ffffff38;
    margin: 25px auto 25px;
  }
  
  main:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*box-shadow: inset 0 0 2000px rgba(190, 186, 186, 0.459);*/
    filter: blur(60px);
    margin: -20px;
  }
h1{
    font-family: var(--titulo1);
    font-weight: lighter;
    top: 30%;
    font-size: 3.6rem;
    line-height: 3.3rem;
}
h2{
    font-size: 3.2rem;
    font-family: var(--titulo2);
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
}
h3{
    font-size: 2.4rem;
    font-family: var(--titulo3);
}
p{
    font-size: 1.6rem;
    font-family: var(--titulo4);
}
.contenedorinicio{
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 229px;
}
.nombres{
    display: flex;
    justify-content: center;
}
.nombrebod{
    display: flex;
    line-height: 4rem;
}
.circulo{
    position: absolute;
    top: -23px;
}
.circulo img{
    width: 250px;
    aspect-ratio: 1/1;
}
.imgpres img{
    position: relative;
    border-radius: 15px;
    width: 80%;
    height: 400px;
    object-fit: cover;
}
.separador{
    width: 40vw;
    height: 2px;
    border-radius:  80%;
    background: goldenrod;
    margin: 10px auto 10px;
}
.reloj{
    width: 18vw;
    aspect-ratio: 1/1;
    border-radius: 15px;
    background: linear-gradient(45deg, #fff, #c9c9c8);
    box-shadow:  -5px 10px 4px #c6c1b7,
             20px -2px 40px #ffffff,
             1px 1px 1px goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reloj h3{
    font-size: 1.4rem;
    margin: 0 auto;
}
.reloj p{
    font-size: 2rem;
    margin: 0 auto;
}
.caja{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fecha1{
    font-size: 4rem;
    color: goldenrod;
    align-self: center;
    font-weight: bold;
}
.fecha2, .fecha3{
    margin: 0 auto 0 0;
}
.contenedorfech{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
}
.contenedorfech p{
    display: flex;
    font-size: 2rem;
    color: goldenrod;
    line-height: 1.6rem;
    kerning: 2rem;
    justify-items: start;
}
.conteo{
    margin-bottom: 10px;
}
.botonmesaregalos{
    width: 50%;
    height: 20px;
    border-radius: 45%;
    margin: 5px auto 10px;
    background: linear-gradient(45deg, #ffffff80, #c9c9c88f);
    box-shadow:  -5px 5px 4px #c6c1b7,
             20px -2px 4px #ffffff83,
             1px 1px .5px rgba(218, 165, 32, 0.637);
}
.botonmesaregalos a{
    text-decoration: none;
    color: black;
    margin: auto;
    font-size: 1.6rem;
}
.volver{
    height: 20px;
    margin: 10px auto 20px;
}
.volver a{
    font-size: 1.6rem;
    margin: 15px auto 25px auto;
}
.itinerario img{
    width: 30px;
    aspect-ratio: 1/1;
}
.codvest{
    display: flex ;
    justify-content: center;
    gap: 5px;
}
.codvest img{
    width: 40vw;
    object-fit: cover;
}