@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    75% {margin-left: -200%;}

    80% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
    background: #f1dec1;
    font-family: 'Indie Flower', cursive;
    color: #5b1f00;
}
body{
    position: relative;
    text-align: center;
}
main{
    margin: 0 3px;
}
h1{
    font-size: 3.6rem;
    margin-bottom: 20PX;
}
h2{
    font-size: 3.2rem;
    margin-top: 10PX;
}
h3{
    font-size: 2.8rem;
}
p{
    font-size: 2rem;
}
.fotosinicio{
    width: 200px;
    height: 160px;
    border: 5px solid white;
    box-shadow:  10px 5px 5px 1px black;
    background: white;
    display: flex;
    margin: 0 auto 20px;
    overflow-x: hidden;
    position: relative;
}
.scr{
    display: flex;
    padding: 0;
    width: 400%;
    overflow-x: hidden;
    animation: cambio 10s infinite alternate-reverse;
    object-fit: cover;
    position: absolute;
}
.scr img {
    width: 180px;
    object-fit: cover;
}
.uno{
    left: 5px;
}
.dos{
    left: 195px;
}
.tres{
    left: 385px;
}
.cuatro{
    left: 575px;
}
.photo{
    position: absolute;
    width: 200px;
    height: 160px;
    border: 5px solid white;
    box-shadow:  10px 5px 5px 1px black;
    background: white;
    
}
.marco1{
    top: 70%;
    left: 70%;
    z-index: -1;
    transform: rotate(-45deg);
}
.sello{
    position: absolute;
    left: 70%;
    top: 50%;
    z-index: -1;
}
.sello img{
    width: 150px;
    aspect-ratio: 1/1;
}
.marco1 img{
    width: 190px;
    height: 120px;
    margin-top: 3px;
    object-fit: cover;
}
.marco2{
    top: 20%;
    left: 0%;
    z-index: -1;
    transform: rotate(45deg);
}
.marco2 img{
    width: 190px;
    height: 120px;
    margin-top: 3px;
    object-fit: cover;
}
.caja{
    display: flex;
    justify-content: space-around;
}
.reloj{
    width: 21vw;
    
    border: 5px solid white;
    box-shadow:  10px 5px 5px 1px black;
    background: white;
    margin-bottom: 20px;
}
.reloj h3{
    font-size: 1.6rem;
}
.padrinos{
    display: flex;
    justify-content: space-around;
}
.fotopadron{
    width: 40vw;
    border: 5px solid white;
    box-shadow:  5px 1px 5px 1px black;
    background: white;
    margin-bottom: 30px;
    overflow: hidden;
}
.fotopadron img{
    width: 35vw;
    aspect-ratio: 2/1;
    object-fit: cover;
}
.mesaregalos{
    width: 200px;
    height: 160px;
    border: 5px solid white;
    box-shadow:  10px 5px 5px 1px black;
    background: white;
    display: flex;
    margin: 0 auto 20px;

}
.mesaregalos div{
    width: 190px;
    height: 120px;
    margin: 3px auto;
    background: black;
    display: flex;
    justify-content: center;
    
}
.mdr{
    color: white;
    align-self: center;
    text-align: center;
}
.butasistencia{
    width: 200px;
    height: 160px;
    border: 5px solid white;
    box-shadow:  10px 5px 5px 1px black;
    background: white;
    display: flex;
    margin: 0 auto;
}
.butasistencia{
    width: 190px;
    height: 120px;
    margin: 3px auto;
    background: black;
    display: flex;
    justify-content: center;
}
iframe{
    width:400;
    height: 300px;
}