@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    text-align: center;
    background: #fff;
    margin: 0;
    border: 0;
    width: 100vw;
}
body{
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3.6rem;
    font-family: 'Dosis', sans-serif;
    text-shadow: 1px 1px 2px  rgb(153, 100, 2) , -1px -1px 3px rgb(184, 84, 2);
    bottom: -2%;
}
h2{
    font-size: 3.2rem;
    font-family: 'Dosis', sans-serif;
}
h3{
    font-size: 2.8rem;
    font-family: 'Dosis', sans-serif;
}
p{
    font-size: 1.6rem;
}
section{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.parallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;

}
#seccion1{
    background-image: url(https://cpad.ask.fm/894/225/602/-299997000-1t53etm-2051665shccdia0/original/file.jpg);
}
#seccion2{
    background-image: url(https://cpad.ask.fm/194/183/881/-269996965-1t5k9cp-e797r1aj6lnohf0/original/file.jpg);
}
#seccion3{
    background-image: url(https://cpad.ask.fm/426/197/486/-269996986-1tdr1ro-2d8ep8547533mf/original/file.jpg);
}
#seccion4{
    background-image: url(https://pm1.aminoapps.com/6512/bca4c9c55c914b8a5ae6ff9dc24c1aa2ac8c80f2_hq.jpg);
}
#seccion5{
    background-image: url(https://i.pinimg.com/originals/1f/e6/3b/1fe63b79e6ea53d9cfb4eb158df16b15.jpg);
}
#seccion6{
    background-image: url(https://i.pinimg.com/originals/06/6e/46/066e4669b1e9ae537f38cc85aad24f0c.jpg);
}
#seccion7{
    background-image: url(https://media.taringa.net/knn/fit:550/Z3M6Ly9rbjMvdGFyaW5nYS8xLzgvQy82L0QvMy90aGVyZXh5cy81MTIuanBn);
}
#seccion8{
    background-image: url(https://media.taringa.net/knn/fit:550/Z3M6Ly9rbjMvdGFyaW5nYS84LzkvQS9FL0UvNi90aGVyZXh5cy81NDAuanBn);
}
img{
    width: 50vw;
}
.caja{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mesa{
    width: 90vw;
    height: 30px;
    border-radius: 45px;
    border: 1px solid gray;
    display: flex;
    margin: 0 auto 10px;
}
.mesa a{
    margin: 0 auto;
    align-self: center;
}
.regreso a{
    font-size: 2.8rem;
}
.contcuad{
    position: relative;
    width: 100vw;
    overflow: hidden;
}
.cuadrorosa{
    width: 50%;
    aspect-ratio: 1/1;
    /*height: 150px;*/
    border: 8px solid pink;
    position: absolute;
    top: -20%;
    left: -20%;
    z-index: -1;
    transform: rotate(45deg);
    animation: translado 15s linear 0s infinite alternate-reverse;
    
}
.cuadrorosa2{
    width: 150px;
    height: 150px;
    border: 8px solid pink;
    position: absolute;
    bottom: -20%;
    right: -10%;
    z-index: -1;
    transform: rotate(45deg);
    animation: translado2 15s linear 0s infinite alternate-reverse;
}
@keyframes translado {
    0%{

    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(225deg);
    }
    100%{
        transform: rotate(270deg);
        left: 100%;
    }
}
@keyframes translado2 {
    0%{

    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(225deg);
    }
    100%{
        transform: rotate(270deg);
        right: 100%;
    }
}